/* IMPORT: */

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=Changa+One:ital@0;1&family=Chicle&family=Delius&family=Dongle&family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Luckiest+Guy&family=Outfit:wght@100..900&family=Patrick+Hand&family=Playwrite+NZ+Basic:wght@100..400&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spicy+Rice&family=Stalinist+One&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=Changa+One:ital@0;1&family=Chicle&family=Delius&family=Dongle&family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Outfit:wght@100..900&family=Patrick+Hand&family=Playwrite+NZ+Basic:wght@100..400&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spicy+Rice&family=Stalinist+One&family=Young+Serif&display=swap');

/* KEYFRAMES: */

@keyframes pulse-border {
  0% { border-color: rgba(52, 152, 219, 1); box-shadow: 0 0 0 0px rgba(6, 6, 248, 0.4); }
  100% { border-color: rgba(52, 152, 219, 0.5); box-shadow: 0 0 0 10px rgba(0, 0, 0, 0); }
}

/* PRODUCT ITEM CSS: */

.product-card {
    background: rgba(255, 255, 255, 0.564);
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 20px 6px rgba(0,0,0,0.05);
    transition: all 0.8s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 50px;
}

.product-card h3 {
    font-family: 'Playwrite New Zealand Basic', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 1.25rem;
    text-align: center;
    background-color: rgba(8, 221, 221, 0.319);
    border-radius: 18px;
    width: 250px;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 20px rgba(0, 60, 255, 0.488);
}

.product-card img {
    max-width: 100%;
    height: 300px;
    object-fit: contain;
    margin-bottom: 15px;
}

.product-price {
    font-size: 1.4rem;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 15px;
}

.add-to-cart {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    width: 50%;
    font-family: 'Luckiest Guy', sans serif;
    font-weight: 200;
    font-size: 1rem;
    transition: all 0.8s ease;
}

.add-to-cart:hover {
    background-color: black;
    color: white;
    animation: pulse-border 1.5s infinite;
}

/* RESPONSIVITY MOBILE: */

@media (max-width: 768px) {

    .product-card {
        padding: 15px;
        gap: 30px;
    }

    .product-card img {
        height: 200px;
    }

    .product-card h3 {
        width: 90%;
        font-size: 1rem;
    }

    .add-to-cart {
        width: 50%;
        padding: 12px;
    }
}

/* RESPONSIVITY BIG SCREEN: */

@media (min-width: 2500px) {

    .product-card {
        padding: 60px;
        border-radius: 30px;
        gap: 80px;
        box-shadow: 0 40px 12px rgba(0,0,0,0.05);
    }

    .product-card h3 {
        font-size: 2.5rem;
        width: 500px;
        padding: 15px;
        border-radius: 40px;
    }

    .product-card img {
        height: 600px;
        margin-bottom: 40px;
    }

    .product-price {
        font-size: 3.5rem;
        margin-bottom: 40px;
    }

    .add-to-cart {
        font-size: 2.5rem;
        padding: 30px 60px;
        border-radius: 20px;
        width: 70%;
    }
}